.header_container {
  height: 800px;
  position: relative;
  background: url("../../../../images/chairBg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_container::after {
  height: 700px;
  content: " ";
  position: absolute;
  top: 0;
  width: 30%;
  right: 0;
  background-color: #3a4256;
  z-index: -999;
}

@media only screen and (max-width: 768px) {
  .header_container {
    height: 1030px;
  }
}
