.info-card {
  padding: 0 5px;
}
.info-primary {
  background: #1cc7c1;
}
.info-dark {
  background: #3a4256;
}
.info-icon {
  font-size: 3rem;
  margin-right: 10px;
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #ffffff;
  border-radius: 5px;
}
.info_details {
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
  .info-icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .info_details {
    font-size: 10px;
  }
}
